/* Variable Declarations */
:root {
  /* --heroBorderRad: 8rem; */
  --bg-color: #0c0025;
  --card-bg: rgba(0, 0, 0, 0.425);
  --light: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* background-color: grey; */
}

.background {
  /* background-image: url("./assets/mountain_colorb.jpg"); */
  background-image: url("./assets/mountain_med.jpg");
  /* background-image: url("./assets/forest_light.jpg"); */
  /* background-image: url("./assets/forest_med.jpg"); */
  /* background-image: url("./assets/mountain_brightb.jpg"); */
  /* background-image: url("./assets/mountain_darkb.jpg"); */
  background-size: cover;
  /* background-position: top 25% right 50%; */
  background-position: top 45% right 50%;
  /* background-position: top 60% right 50%; */
  /* background-position: top 35% right 50%; */
  /* background-position: top 60% right 50%; */
  /* background-position: top 60% right 50%; */
  /* border: 1px solid red; */
  border-radius: var(--heroBorderRad);
  border-radius: 8rem;
  width: 65%;
  box-shadow: 0 0 20px 20px var(--bg-color);
}

/* a {
  color: red;
}

a:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid red;
} */

.hero {
  color: hsl(0, 0%, 100%);
  background: var(--bg-color);
  mix-blend-mode: darken ;
  font-weight: 900;
  font-size: 8vw;
  text-wrap: nowrap;
  /* border-radius: var(--heroBorderRad); */
}

.card {
background: var(--card-bg);
box-shadow: 0 0 10px black;
/* filter: drop-shadow(0 0 0.75rem crimson); */
overflow: hidden;
position: relative;

}

.card:hover {
  box-shadow: 0 0 10px var(--light);

}

.cardSplash {
  transition: 0.75s;
  z-index: 1;
  margin-left: -8px;
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.splashTitle {
  transition: 0.75s;
  z-index: 2;
  position: absolute;
  /* background-color: hsla(259, 100%, 7%, 0.5);
  box-shadow: 0 0 10px hsl(258, 100%, 7%); */
  text-shadow: 1px 1px 10px hsl(258, 100%, 7%);
  padding: 0px 2px 5px;
  border-radius: 10px;
  pointer-events: none;
}

.card:hover .cardSplash,
.card:hover .splashTitle {
opacity: 0%;
}

@media screen and (min-width: 768px) {
  .background {
    /* background-image: url("./assets/mountain_colorb.jpg"); */
    background-image: url("./assets/mountain_medb.jpg");
    /* background-image: url("./assets/forest_light.jpg"); */
    /* background-image: url("./assets/forest_med.jpg"); */
    /* background-image: url("./assets/mountain_brightb.jpg"); */
    /* background-image: url("./assets/mountain_darkb.jpg"); */
  }
}

@media screen and (min-width: 1441px) {
  .hero {
    font-size: 115.2px;
  }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.headercontainer {
  /* display: flex;
  flex-direction: column;
  border: red 2px solid;
  align-items: center; */
}

.headerlinks {
  /* display: flex; */
  /* width: 100%; */
  /* gap: 1em ; */
  /* justify-content: space-between; */
  
}

.headerline {
  /* background: green; */
  /* background-color: green; */
}