#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* background-color: grey; */
}

.background {
  /* background-image: url("./assets/mountain_colorb.jpg"); */
  background-image: url("./assets/mountain_medb.jpg");
  /* background-image: url("./assets/forest_light.jpg"); */
  /* background-image: url("./assets/forest_med.jpg"); */
  /* background-image: url("./assets/mountain_brightb.jpg"); */
  /* background-image: url("./assets/mountain_darkb.jpg"); */
  background-size: cover;
  /* background-position: top 25% right 50%; */
  background-position: top 45% right 50%;
  /* background-position: top 60% right 50%; */
  /* background-position: top 35% right 50%; */
  /* background-position: top 60% right 50%; */
  /* background-position: top 60% right 50%; */
}

.hero {
  color: white;
  background: #0c0025;
  mix-blend-mode: darken ;
  font-weight: 900;
  font-size: 8vw;
  text-wrap: nowrap;
  /* box-shadow: 60px -16px teal; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.headercontainer {
  /* display: flex;
  flex-direction: column;
  border: red 2px solid;
  align-items: center; */
}

.headerlinks {
  /* display: flex; */
  /* width: 100%; */
  /* gap: 1em ; */
  /* justify-content: space-between; */
  
}

.headerline {
  /* background: green; */
  /* background-color: green; */
}